In [1]:
import seaborn as sns

In [4]:
mpg = sns.load_dataset('mpg')

In [70]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

#3 - A

In [ ]:
df = mpg[['displacement','horsepower']]

In [27]:
df['hp_per_cc'] = df['displacement']/df['horsepower'].round(3)

<ipython-input-27-f46c80428f2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hp_per_cc'] = df['displacement']/df['horsepower'].round(3)

In [50]:
df1 = mpg['name']
len(df1[0].split())
df1[0].split()

['chevrolet', 'chevelle', 'malibu']

#3-B

In [76]:
def listToString(str_list):
    result = ""
    for s in str_list:
        result += s + " "
    return result.strip()

In [66]:
df_list=[]
for i in range(len(df1)):
  if len(df1[i].split())==1:
    a = df1[i].split()
    df_list.append(a[0])
  if len(df1[i].split())==6:
    a = df1[i].split()
    df_list.append(a[0])
  if len(df1[i].split())==5:
    a = df1[i].split()
    df_list.append(a[0])
  if len(df1[i].split())==4:
    a = df1[i].split()
    df_list.append(a[0])
  if len(df1[i].split())== 3:
    a = df1[i].split()
    df_list.append(a[0])
  if len(df1[i].split())==2:
    a = df1[i].split()
    df_list.append(a[0])

In [86]:
df_list1=[]
for i in range(len(df1)):
  if len(df1[i].split())==1:
    a = df1[i].split()
    b = listToString(a[1:])
    df_list1.append(b)
  if len(df1[i].split())==6:
    a = df1[i].split()
    b = listToString(a[1:])
    df_list1.append(b)
  if len(df1[i].split())==5:
    a = df1[i].split()
    b = listToString(a[1:])
    df_list1.append(b)
  if len(df1[i].split())==4:
    a = df1[i].split()
    b = listToString(a[1:])
    df_list1.append(b)
  if len(df1[i].split())== 3:
    a = df1[i].split()
    b = listToString(a[1:])
    df_list1.append(b)
  if len(df1[i].split())==2:
    a = df1[i].split()
    b = listToString(a[1:])
    df_list1.append(b)

In [88]:
mpg['manufacturer']=df_list
mpg['model']=df_list1

In [94]:
ans=mpg.drop(columns = ['name'])

In [95]:
ans

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,manufacturer,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford,torino
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford,mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw,pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge,rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford,ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy,s-10

In [104]:
import pandas as pd

In [110]:
mpg_model = pd.pivot_table(ans, index='manufacturer', values='model', aggfunc='count').drop_duplicates()

In [127]:
mpg_model2 = pd.pivot_table(ans, index=a, values='mpg', aggfunc='mean')

KeyError: ignored

In [121]:
a = mpg_model[mpg_model.values >=5].index

Index(['amc', 'audi', 'buick', 'chevrolet', 'chrysler', 'datsun', 'fiat',
       'ford', 'honda', 'mazda', 'mercury', 'plymouth', 'pontiac', 'renault',
       'toyota', 'volkswagen'],
      dtype='object', name='manufacturer')

In [134]:
new_1= mpg[mpg['manufacturer'] == a]

ValueError: ignored

In [125]:
ans['mpg']

46.6

In [108]:
fin_1 = ans[(mpg_model[mpg_model.values >=5].index)] & ans[()]

ValueError: ignored