In [6]:
import seaborn as sns
import pandas as pd

In [2]:
mpg=sns.load_dataset('mpg')

In [3]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [9]:
# 3-c.
mpg_mean=pd.pivot_table(mpg, index='cylinders', values='mpg', aggfunc='mean')
mpg_mean

                 mpg
cylinders
3          20.550000
4          29.286765
5          27.366667
6          19.985714
8          14.963107

In [ ]:
# 3-d.
horsepower_mean=pd.pivot_table(mpg, index='origin', values='hp_per_cc', aggfunc='mean')
horsepower_mean

In [ ]:
# 3-e.
mpg_model=pd.pivot_table(mpg[mpg['']])

ValueError: ignored

In [20]:
mpg_model=pd.pivot_table(mpg, index='manufacturer', values='model', aggfunc='count').drop_duplicates()

In [21]:
mpg_fmodel=mpg_model[mpg_model[mpg_model.values>=5]]

['0      chevrolet chevelle malibu\n1              buick skylark 320\n2             plymouth satellite\n3                  amc rebel sst\n4                    ford torino\n                 ...            \n393              ford mustang gl\n394                    vw pickup\n395                dodge rampage\n396                  ford ranger\n397                   chevy s-10\nName: name, Length: 398, dtype: object']

In [17]:
mpg_fmodel_mean=mpg[[]]

'0      chevrolet chevelle malibu\n1              buick skylark 320\n2             plymouth satellite\n3                  amc rebel sst\n4                    ford torino\n                 ...            \n393              ford mustang gl\n394                    vw pickup\n395                dodge rampage\n396                  ford ranger\n397                   chevy s-10\nName: name, Length: 398, dtype: object'